@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--default-black: black;
		--default-white: white;
		--body-bg-color: #f6f6f6;
		--dj-event-bg: #6e0b20;
		--olsmagning-event-bg: #ebd37f;
		--byvandring-event-bg: #abccd8;
		--h1-size-desktop: 3rem;
		--h2-size-desktop: 2rem;
		--h3-size-desktop: 1.2rem;
		--h1-size-mobile: 1.8rem;
		--h2-size-mobile: 1.4rem;
		--h3-size-mobile: 1rem;
		--p-size: 1rem;
		--heading-and-button-font: 'Josefin Sans', sans-serif;
		--p-font: 'Lato', sans-serif;
		--button-bg-opacity: rgba(0, 0, 0, 0.525);
		--dropdown-button-border: 2px solid black;
		--dropdown-button-width: 166px;
		--dropdown-button-height: 45px;
		--button-font-size: 1rem;
		--button-line-height: 45px;
	}

	section {
		display: grid;
		place-items: center;
		padding-bottom: 3rem;
	}

	body {
		overflow-x: hidden;
		background: var(--body-bg-color);
	}

	a {
		color: var(--default-black);
	}

	h1 {
		font-family: var(--heading-and-button-font);
		font-size: var(--h1-size-desktop);
		color: var(--default-black);
		text-transform: uppercase;
	}

	h2 {
		font-family: var(--heading-and-button-font);
		font-size: var(--h2-size-desktop);
		color: var(--default-white);
		text-transform: uppercase;
	}

	h3 {
		font-family: var(--heading-and-button-font);
		font-size: var(--h3-size-desktop);
		color: var(--default-black);
		text-transform: uppercase;
	}

	p {
		font-family: var(--p-font);
		font-size: var(--p-size);
	}

	button {
		font-family: var(--heading-and-button-font);
	}

	@media (max-width: 600px) {
		h1 {
			font-size: var(--h1-size-mobile);
		}
		h2 {
			font-size: var(--h1-size-mobile);
		}

		h3 {
			font-size: var(--h1-size-mobile);
		}
	}
}
